<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>METEO</title>
</head>
<body>
    <!--FORM POUR AJOUTER UNE VILLE-->
    <h3>Ajouter une ville</h3>
    <form action="/add-city" method="POST">
        <label for="name">Nom de la ville :</label>
        <input type="text" id="name" name="name" required>
        <label for="longitude">Longitude :</label>
        <input type="text" id="longitude" name="longitude" required>
        <label for="latitude">Latitude :</label>
        <input type="text" id="latitude" name="latitude" required>
        <button type="submit">Ajouter</button>
    </form>
    <!--BARRE DE RECHERCHES ET LISTE DES VILLES-->
    <h3>Liste des villes</h3>
    <form id="searchForm" action="/search" method="GET">
        <label for="ville">Nom de la ville :</label>
        <input type="text" id="ville" name="ville" placeholder="Rechercher une ville...">
        <button type="submit">Rechercher</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Longitude</th>
                <th>Latitude</th>
            </tr>
        </thead>
        <tbody id="citiesTableBody">
            {% for city in cities %}
            <tr onclick="fetchWeatherData('{{ city.long }}', '{{ city.lat }}')">
                <td>{{ city.name }}</td>
                <td>{{ city.long }}</td>
                <td>{{ city.lat }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="/script.js"></script>
</body>
</html>